https://localhost:8443 {
    tls internal              # Caddy maakt automatisch een lokaal (self-signed) cert
    encode gzip               # (optioneel) compressie
    reverse_proxy petstore:8080
}

https://caddy:8443 {
    tls internal              # Caddy maakt automatisch een lokaal (self-signed) cert
    encode gzip               # (optioneel) compressie
    reverse_proxy petstore:8080
}
